<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Rust Documentation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style type="text/css">
      html, body {
          height: 100%;
          margin: 0; 
          overflow: hidden;
      }

      .container {
        height: 100%;
      }  

      body {
        line-height: 1.6;
        font-size: 18px;
        color: #444;
      }

      h1, h2, h3 {
        line-height: 1.2;
      }

      section#nav {
        height: 40px;
        border-bottom: medium solid;
      }

      section#nav h1, form, p {
        display: inline;
      }

      section#nav h1 {
        padding: 5px;
      }

      p#old {
        visibility: hidden;
      }
     
      .fill, iframe {
        width: 100%;
        height:100%;
        min-height:100%;
	border: 0px;
      }
 
    </style>
    <script>
      window.onload = function() {
        document.getElementById("options").onchange = function() {
      var option = document.getElementById("options")[this.selectedIndex];

          document.getElementById("iframe").src = option.value;

      if(option.text === "stable") {
        document.getElementById("old").style.visibility = "hidden";
      } else {
        document.getElementById("old").style.visibility = "visible";
      }
        };
      };
    </script>
  </head>
  <body>
    <div class="container">
    <section id="nav">
      <h1>Rust Documentation</h1>

      <p>for: <p>
      <form>
        <select id="options">
          <option value="https://static-rust-lang-org.s3.amazonaws.com/doc/stable/std/index.html">stable</option>
          <option value="https://static-rust-lang-org.s3.amazonaws.com/doc/beta/std/index.html">beta</option>
          <option value="https://static-rust-lang-org.s3.amazonaws.com/doc/master/std/index.html">nightly</option>
        </select>
      </form>
      <p id="old">These docs are not from the latest release.<p>
    </section>
    
    <section id="rest" class="fill">
      <iframe id="iframe" src="https://static-rust-lang-org.s3.amazonaws.com/doc/stable/std/index.html"></iframe>
    </section>
    </div>
  </body>
</html>
